.home {
  min-height: 100%;
  padding: rem(96);      // Rem Calc Function
  background: $tertiary; // Color variables
  text-align: center;
  @include bodyFont();   // Font Stack Mixin

  button {
    margin: rem(8);
    border: none;
    font-size: 1em;
    padding: rem(8 16);
    background: $primary;
    border-radius: rem(5);
    transition: background 250ms ease;
    @include displayFontBold($white);
  }

  span {
    display: block;
  }

  > div:first-of-type {
    @include flexContainer(false, true, false, 'column');   // Flex Container Mixin
    position: relative;
    margin: rem(15) auto rem(50);
    padding: rem(60);
    border-radius: 30px;
    background: $off-white;
    box-shadow: 1px 1px 3px rgba($secondary, .15);

    &::before {
      @include arrow(                                // Arrow mixin
        $arrowDirection: 'top',
        $arrowHeight: 10px,
        $arrowWidth: 16px,
        $color: $off-white,
        $positioned: true
      );
    }

    > h1,
    > h2 {
      @include flexItem();                           // Flex Item mixin
      @include displayFontBold();
      line-height: 1.5;
      color: $secondary;

      &:first-child {
        font-size: rem(20);
        margin-bottom: rem(20);
      }
    }
  }
}

.human {
  font-size: 144px;
}
