//////////////////////////////
//      Color Vars          //
//////////////////////////////

$white: #fff;
$black: #000;

$gray--050: #F2F2F2;
$gray--100: #E5E5E5;
$gray--200: #CDCDCD;
$gray--300: #B3B3B3;
$gray--400: #999999;
$gray--500: #7F7F7F;
$gray--600: #666666;
$gray--700: #4D4D4D;
$gray--800: #333333;
$gray--900: #1A1A1A;


// Thematic colors
$primary: #202C39;
$secondary: #D72638;
$tertiary: #bbc9c9;
$off-white: #f5f9fA;
$secondary-dark: #283845;

// Status colors
$status--success: #25d785;
$status--warning: #f27225;
$status--error: #ea4626;

// Typography
$display-color: $primary;
$body-color: $primary;
